n8n/rep-reminder-workflow.json
{
  "name": "REP Recordatorios Automáticos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "treasury-rep-reminder",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook REP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "treasury-rep-reminder"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json.body || $input.item.json;\nconst data = d.data || d;\nconst tier = data.reminderTier || 1;\nconst days = data.daysPending || 3;\nconst name = data.clientName || 'Estimado proveedor';\n\nconst urgent = tier >= 3;\nconst headerColor = urgent ? '#991b1b' : tier >= 2 ? '#b91c1c' : '#ea580c';\nconst alertBg = urgent ? '#fee2e2' : '#fff3cd';\nconst alertBorder = urgent ? '#fecaca' : '#ffeaa7';\nconst alertText = urgent ? '#991b1b' : '#856404';\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">\n  <div style=\"background:${headerColor};padding:24px;text-align:center;border-radius:8px 8px 0 0\">\n    <h1 style=\"color:#fff;margin:0;font-size:22px\">⏰ ${data.reminderLabel || 'Recordatorio'}</h1>\n    <p style=\"color:rgba(255,255,255,.8);margin:6px 0 0;font-size:14px\">Complemento de Pago Pendiente</p>\n  </div>\n  <div style=\"padding:30px;background:#f8f9fa\">\n    <p style=\"color:#333;font-size:18px\">Hola <strong>${name}</strong>,</p>\n    <p style=\"color:#555;line-height:1.6\">Te recordamos que necesitamos el <strong>complemento de pago (REP)</strong> para cerrar el proceso contable.</p>\n    <div style=\"background:${alertBg};border:1px solid ${alertBorder};padding:20px;border-radius:8px;margin:24px 0\">\n      <p style=\"color:${alertText};margin:0 0 10px;font-weight:bold\">📋 Acción Requerida</p>\n      <p style=\"color:${alertText};margin:0 0 10px\">Han pasado <strong>${days} días</strong> desde que se realizó el pago. Envía el complemento para cerrar el proceso.</p>\n      <p style=\"color:${alertText};margin:0;font-weight:bold\">Puedes enviarlo respondiendo a este correo.</p>\n    </div>\n    <p style=\"color:#888;font-size:13px;text-align:center;margin-top:30px\">Lolita — Equipo de Tesorería · Grupo Orsega</p>\n  </div>\n</div>`;\n\nreturn {\n  json: {\n    to: d.to || data.clientEmail,\n    subject: d.subject || `${data.reminderLabel} — Complemento de Pago Pendiente`,\n    html: html\n  }\n};"
      },
      "id": "build-email",
      "name": "Armar email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "replyTo": "dolores@grupoorsega.com"
        }
      },
      "id": "gmail-send",
      "name": "Gmail - Enviar Recordatorio",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "CHANGE_ME",
          "name": "Gmail Lolita"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook REP": {
      "main": [[{ "node": "Armar email HTML", "type": "main", "index": 0 }]]
    },
    "Armar email HTML": {
      "main": [[{ "node": "Gmail - Enviar Recordatorio", "type": "main", "index": 0 }]]
    },
    "Gmail - Enviar Recordatorio": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City"
  },
  "tags": [{ "name": "tesorería" }]
}
